{% extends 'base.html' %}
{% load form_tags %}
{% load humanize %}
{% block content %}

<div class="card shadow border my-4 p-4" style="max-width: 500px; margin: auto;">
  <h3 class="card-title mb-4 text-center">
    {% if es_edicion %}Editar{% else %}Agregar{% endif %} 
    {% if request.path|slice:":15" == "/agregar_cliente" or request.path|slice:":13" == "/editar_cliente" %}
      Cliente
    {% else %}
      Proveedor
    {% endif %}
  </h3>

  <form method="post" class="mb-3">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.nombre.label_tag }}
      {{ form.nombre|add_class:"form-control" }}
      {% if form.nombre.errors %}
        <div class="text-danger mt-1">
          {{ form.nombre.errors }}
        </div>
      {% endif %}
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">
        {% if es_edicion %}Actualizar{% else %}Agregar{% endif %}
      </button>
      <a href="{% if request.path|slice:":15" == "/agregar_persona_Cliente" or request.path|slice:":13" == "/editar_cliente" %}{% url 'resumenCliente' %}{% else %}{% url 'resumen' %}{% endif %}" class="btn btn-secondary ms-2">
        Cancelar
      </a>
    </div>
  </form>
</div>

{% endblock %}